@model WebApp.Models.ScheduleEntry
@{
    ViewData["Title"] = "Add Schedule Entry";
    string className = ViewBag.ClassName ?? "";
}







<h2>@ViewData["Title"] dla klasy @className</h2>

<form asp-action="Create" method="post">
    <input type="hidden" name="className" value="@className" />
    <div class="mb-3">
        <label asp-for="Day" class="form-label"></label>
        <select asp-for="Day" class="form-select" asp-items="ViewBag.Days"></select>
        <span asp-validation-for="Day" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Hour" class="form-label"></label>
        <input asp-for="Hour" class="form-control" type="number" min="1" max="10" />
        <span asp-validation-for="Hour" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Date" class="form-label">Data</label>
        <input asp-for="Date" class="form-control" type="date" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="SubjectId" class="form-label"></label>
        <select asp-for="SubjectId" class="form-select" asp-items="ViewBag.Subjects"></select>
        <span asp-validation-for="SubjectId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="ClassroomNumber" class="form-label"></label>
        <input asp-for="ClassroomNumber" class="form-control" />
        <span asp-validation-for="ClassroomNumber" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a asp-action="Index" asp-route-className="@className" class="btn btn-secondary ms-2">Anuluj</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}