html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;

}
.nav-link.text-dark:hover {
    /*    background-color: lightgray;*/
    background-color: red;
    border-radius: .25rem;
    color: white !important;
    transition: background-color 0.46s ease, color 0.1s ease;
}
.navbar-collapse{
    margin-top: 1rem;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.navbar-nav a{
    text-align: center;
}
.btn.btn-primary, .btn.btn-secondary {
    margin-top: 1rem !important;
}
@media(max-width: 576px){
    .nav-link.text-dark:hover {
        letter-spacing: .115rem;
        transition: letter-spacing 0.46s ease;
    
    }
    
}