@model WebApp.ViewModels.ResetPasswordViewModel

<h3>Potwierdź kod i zmień hasło</h3>

@Html.ValidationSummary(true, "", new { @class = "alert alert-danger" })

<form asp-action="ConfirmForgotPassword" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label asp-for="VerificationCode">Kod weryfikacyjny</label>
        <input asp-for="VerificationCode" class="form-control" />
        <span asp-validation-for="VerificationCode" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewPassword">Nowe hasło</label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Zmień hasło</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}